div {
	margin: auto;
	max-width: 870px;
}

h1 {
	font-size: 36px;
}

h2, h3 {
	font-size: 32px;
}

.zin1 {
	font-size: 24px;
}

.tip {
	font-size: 20px;
	border-radius: 4px;
	background-color: #def6ed;
}

li {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

img.muffin {
	width: 500px;
	height: 300px;
}
