body {
	background-image: url("pics/header.jpg");
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 250px;
}

div {
	text-decoration: none;
	color: black;
	font-size: 18px;
}
	
.home {
	text-decoration: none;
}

nav {
	text-align: center;
	position: relative;
	top: 250px;
}